// color.scss

// Ana renkler (Daha modern tonlar)
$primary: #6c96c4;   // Mavi (Controller vb. için)
$secondary: #ffeba0; // Sarı (Interface vb. için)
$actor: #d4aeba;     // Pembe (Aktör için)

// Arka planlar
$background: #ffffff;
$sidebar: #f0f3f4;

// Metin ve Çizgi
$text: #222222;
$border: #333333;

// Diğerleri aynı kalabilir...
$success: #2e7d32;
$error: #d32f2f;
$warning: #ed6c02;
$info: #0288d1;
$onSidebar: #333333;