:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark; /* Tarayıcıya göre otomatik renk şeması */
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-width: 320px;

  display: block; /* artık ortalama yok */
  background-color: #f9fafb; /* açık gri arka plan */
  color: #111; /* varsayılan yazı rengi */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0.5em 0;
}
